html, body, body > div {
    height: 100%;
    margin: 0
}

.flex-box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flex-box .row {
}

.flex-box .row.header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.flex-box .row.content {
    flex: 1 1 auto;
    display: flex;
}

.flex-box .row.content > div {
    max-height: 100%;
    overflow: auto;
}

.flex-box .row.footer {
    flex: 0 1 auto;
}

.row.header .ui.attached.header {
    margin-left: 0;
    margin-right: 0;
}

.row.footer .ui.fluid.menu {
    width: 100% !important;
}

.ui.tabular.menu .active.item {
    margin-bottom: 0;
}

.row.header .ui.attached.header {
    border-left: none;
    border-right: none;
    border-top: none;
}